<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>963763250160-7vermovbdju4i9jauo8k561dnnr73oau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963763250160-7vermovbdju4i9jauo8k561dnnr73oau</string>
	<key>API_KEY</key>
	<string>AIzaSyBX3tNFTTqqRIkUsX-nQWxFHeY422Ge7KM</string>
	<key>GCM_SENDER_ID</key>
	<string>963763250160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avcode.PushMyNotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-5b2da</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-5b2da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963763250160:ios:897fa065dbfcd004</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-5b2da.firebaseio.com</string>
</dict>
</plist>